<% title @thread_post.title %>

<div class="section">
	<div class="section-title">Post</div>
	<div class="section-content">
	  <%= render :partial => "post", :object => @thread_post %>
    <%= render :partial => "post", :collection => @thread_children %>
    <h3 class="right">
      <%= link_to raw("Reply Post &#187;"), new_thread_post_path(:reply_on => @thread_post.id) %>
    </h3>
		<div class="clearer">&nbsp;</div>
	</div>
</div>